<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper用于映射dao的接口，namespace指定Dao接口的完整类名 -->
<mapper namespace="com.dao.ILoginDao">

    <!-- 定义java Bean的属性与数据库的列之间的映射 -->
    <resultMap id="empMap" type="emp">
        <id column="eno" property="eno"/>
        <result column="ename" property="ename"/>
        <result column="epwd" property="epwd"/>
        <result column="etype" property="etype"/>
    </resultMap>


</mapper>
